.footer {
  width: 100%;
  background: #ffffff;
  padding: 18px 0;

  margin-top: 50px;
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  padding: 0 24px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;
    text-decoration: none;
    color: #000;
    z-index: 10;
}
.logo-text {
  font-size: 16px;
  font-weight: 600;
  color: #111;
}

/* Right text */
.footer-right {
  font-size: 14px;
  color: #6b7280;
  text-align: left; 
}


.logo-icon {
  width: 48px;
  height: 48px;
  background: #14b8a6;
  border-radius: 10px;

  display: flex;
  align-items: center;
  justify-content: center;

  overflow: hidden;
  background-color: white;
}

.logo-icon img {
  width: 40px;
  height: 40px;
  object-fit: contain;
}



